{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование автомобиля</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Бронирование автомобиля</h1>

    <form method="post" id="bookingForm">
        {% csrf_token %}
        
        <h2>Выбранный автомобиль</h2>
        <div class="selected-car">
            <img src="{{ selected_car.image.url }}" alt="{{ selected_car.make }} {{ selected_car.model }}" class="car-image">
            <h3>{{ selected_car.make }} {{ selected_car.model }}</h3>
            <p>Цена: <span id="car-price">{{ selected_car.price }}</span>₸ за день</p>
        </div>

        <input type="hidden" name="car" value="{{ selected_car.id }}">

        {% if form.errors %}
            <ul class="error-list">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <label for="start_date">Дата начала:</label>
        {{ form.start_date }}

        <label for="return_date">Дата возврата:</label>
        {{ form.return_date }}


        <h2>Оплата</h2>

        <div class="input-wrapper">
            <label for="card_number">Номер карты:</label>
            <input type="tel" name="card_number" id="card_number" placeholder="0000 0000 0000 0000" required maxlength="19">
        </div>

        <div class="input-wrapper">
            <label for="expiration_date">Срок действия:</label>
            <input type="text" name="expiration_date" id="expiration_date" placeholder="ММ/ГГ" required>
        </div>

        <div class="input-wrapper">
            <label for="cvv">CVV:</label>
            <input type="password" name="cvv" id="cvv" class="cvv-input" placeholder="•••" required maxlength="3">
        </div>

        <button type="submit">Забронировать автомобиль</button>
    </form>

    <a href="{% url 'car_list' %}">Назад к списку автомобилей</a>

    <script src="{% static 'js/booking.js' %}"></script>
</body>
</html>
